<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKModalViewDidClose</strong>
	<span id="TestOLSKModalViewDidClose">0</span>
</p>

<style type="text/css">
/* enables playwright to touch the close button */
.OLSKModalViewOverlay {
	top: 50px !important;
}
</style>
